/*global or general */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    flex: 1;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    padding: 10px;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
/* utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*Header*/
.header-style{
    background-image: url(realEstate-img-main/header.jpg);
    background-size: cover;
    min-height: 300px;
    text-align: center;
    color: white;
}
.menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.menu a{
    margin-right: 30px;
    color: white;
}


/*more about us*/
.more-about-container{
    display: flex;
    flex-direction: row;
}
.more-about-item{
    padding: 10px;
}
/* Houses*/
.houses-container{
    display: flex;
    justify-content: space-around;
}
.houses-item{
    background-color: #dedede;
    border: solid 1px;
    margin-right: 10px;
    width: 70%;
}
.houses-item-img{
    max-width: 100%;
    ;
}
.houses-item-text{
    padding-left: 20px;
}
.houses-item a{
    background-color: orange;
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
    display: block;
    text-align: center;

}
.list-icons{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.list-icons li{
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.price{
    color: limegreen;
}
/*footer*/
.contact-us{
    background-image: url(realEstate-img-main/encuentra.jpg);
    height: 600px;
    
}
.contact-us-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: left;
    height: 100%;
}
.contact-us-text a{
    background-color: orange;
    color: white;
    width: 75%;
    text-align: center;
    margin: 20px;
}

/*contact*/
.contact-header{
    background-color: orange;
    background-size: cover;
    min-height: 300px;
    text-align: center;
    color: black;
    padding-top: 50px;
}
.contact-header a{
    color: black;
}
.contact-text{
    text-align: center;
}
.contact-text p{
    font-size: 14px;
    line-height: 1.5;
}
.contact-form{
    margin-top: 30px;
    background-color: #dedede;
    padding: 10px;
    border-radius: 10px;
}
fieldset{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}
legend{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.form-control{
    display: flex;
    margin: 20px;
}
.form-control label{
    width: 25%;
}
.form-control input,
.form-control textarea,
.form-control select{
    width: 60%;
}
.contact-footer{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: #dedede;
    margin-top: 20px;
    align-items: center;
}
.contact-footer label{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}
.footer-span{
    text-decoration: underline;
    font-weight: bold !important;
}
.fieldset-contact{
    height: 300px;
}
.contact-legend{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
@media(max-width:768px){
    .menu-bar{
        flex-direction: column;
    }
    .menu a{
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
    }
    h1{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .more-about-container{
        flex-direction: column;
    }
    .more-about-container img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .more-about-container h3{
        text-align: center;
        margin-bottom: 10px;
    }
    .houses-container{
        flex-direction: column;
        align-items: center;
    }
    .houses-item{
        width: 90%;
        margin-bottom: 20px;
    }

}